body {
    background-color: #121212;
    color: #f1f1f1;
}

p {
    text-align: center;
}

h6 {
    text-align: center;
}

.card img {
    height: 350px;
    object-fit: cover;
}

.card {
    background-color: #1e1e1e;
    color: #fff;
}

.modal-content {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #6f42c1;
    border: none;
}

.btn-secondary {
    margin: 35px;
}
